.classic-table {
    margin-left: 10%;
    display:flex;
    width: 10%;
    text-align: center; 
    align-items: center;
}

.champ-name {
    display: flex;
    min-width: 50%;
    white-space: nowrap;
    font-size: 20px;
    margin-left:15%;
    
}

.skilltreename {
    display: flex;
    min-width: 50%;
    white-space: nowrap;
    font-size: 20px;
    
    
}

.rate-table {
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    width: 15%;
    
}

.rate {
    width: 33%;
}

.item-table {
    float:right;
    margin-right: 10%;
    border: 1px solid #000000;
    display: flex;
    
}

.percent-table {
    display: flex;
    width: 33%;
    font-size: 14px;
    font-weight: bold;
}

.rune-table {
    margin-left: 10%;
    margin-top: 15px;
    width: 80%;
    display: flex;
    position: relative;
}


.runetable-left {
    width: 70%;
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    
}

.rune-page {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center; 
    
    
    
}
.rune-page-perk1 {
    font-size: 10px;
    padding: 10px;
    width: 33%;
    border-right: 1px solid #cdcdcd;
    
}

.rune-page-perk1-end {
    font-size: 10px;
    padding: 10px;
    width: 33%;
    
    
    height: auto;
}

.rune-row-top {
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center; 
    align-items: center;
}

.rune-row-top2 {
    display: flex;
    width: 100%;
    margin-top: 49%;
    justify-content: center; 
    align-items: center;
}

.rune-row-top3 {
    display: flex;
    width: 100%;
    margin-top: 49%;
    justify-content: center; 
    align-items: center;
}

.rune-row {
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center; 
    align-items: center;
}


.runetable-right {
    width: 30%;
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    margin-left: 8px; 
    font-size: 14px;
    height: auto;
}

.runetable-1 {
    width: 100%;
    padding: 10px;
    
    border-bottom: 1px solid #cdcdcd ;
    font-size: 14px;
    
}

.runetable-end {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    
}


.skill-tree {
    padding : 10px;
    border: 1px solid #797878;
    border-radius: 10px;
    width: 70%;
}

.image-all {
    padding: 1px;
    width: 40px; 
    height: 40px; 
    border-radius: 30%;
  }

.rune-image {
    padding: 1px;
    width: 30px; 
    height: 30px; 
    border: 3px solid #bf3434;
    text-align: center;
    border-radius: 50%;
    margin-top: 5%;
    
}

.disable-rune-image {
    opacity: .3;
    padding: 1px;
    width: 30px; 
    height: 30px; 
    text-align: center;
    border-radius: 50%;
    margin-top: 5%;
    
}

.win-rate {
    float: right;
    text-align: center; 
    align-items: center;
    margin-top:10px;
}

.skill-tree123 {
    
    min-width: 40px;
    min-height: 40px;
    background: rgba(32, 45, 55, 0.9);
    color: #0093FF!important;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 11px!important;
    border-radius: 4px;
    font-family: "Roboto",sans-serif;
    white-space: nowrap;
    
}

.rune-name {
    font-size: 14px;
    text-align: center;
}

/* Add these media queries to adjust layout for smaller screens */
@media screen and (max-width: 768px) {
    .classic-table {
      margin-left: 5%; /* Reduce the left margin */
      width: 20%; /* Increase the width for smaller screens */
    }
  
    .champ-name {
      min-width: auto; /* Allow champ name to wrap on smaller screens */
      font-size: 20px; /* Reduce font size for champ name */
      font-weight: px;
    }
  
    .rate-table {
      margin-left: 5%; /* Reduce the left margin */
      width: 30%; /* Increase the width for smaller screens */
    }
  
    .rate {
      width: 30%; /* Adjust width for smaller screens */
    }
  
    .percent-table {
      font-size: 12px; /* Reduce font size for percentages */
    }
  
    .rune-table {
      margin-left: 5%;
      height: auto;
    }
  
    .runetable-left,
    .runetable-right {
      width: 80%; /* Adjust width for smaller screens */
      height: auto;
    }
  
    .rune-row-top{
      margin-top: 20%; /* Adjust margin for top rune rows */
    }

    .rune-row-top2 {
      margin-top: 100%; /* Adjust margin for top rune rows */
    }

    .rune-row-top3 {
        margin-top: 100%; /* Adjust margin for top rune rows */
      }
  
    .image-all,
    .rune-image,
    .disable-rune-image {
      width: 30px; /* Reduce image width for smaller screens */
      height: 30px; /* Reduce image height for smaller screens */
      
    }
  
    .skill-tree123 {
      min-width: 30px; /* Reduce size for skill tree elements */
      min-height: 30px; /* Reduce size for skill tree elements */
      font-size: 10px; /* Reduce font size for skill tree elements */
    }

    .percent-table {
        display: flex;
        width: 30%;
        font-size: 14px;
        font-weight: bold;
    }

    .skilltreename {
        display: flex;
        min-width: 50%;
        white-space: nowrap;
        font-size: 20px;
        
        
    }
  }
  