.classic-table {
    margin-left: 10%;
    display:flex;
    width: 10%;
    text-align: center; 
    align-items: center;
}

.champ-name {
    display: flex;
    min-width: 50%;
    white-space: nowrap;
    font-size: 20px;
    
}

.rate-table {
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    width: 15%;
    
}

.rate {
    width: 33%;
}


.rune-table {
    margin-left: 10%;
    margin-top: 5%;
    width: 50%;
    display: flex;
}

.item-table {
    float:right;
    margin-right: 10%;
    border: 1px solid #000000;
}

.percent-table {
    display: flex;
    width: 33%;
    font-size: 14px;
    font-weight: bold;
}
