.classic-table {
    margin-left: 10%;
    display:flex;
    width: 10%;
    text-align: center; 
    align-items: center;
}

.champ-name {
    display: flex;
    min-width: 50%;
    white-space: nowrap;
    font-size: 20px;
    
}

.rate-table {
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    width: 15%;
    
}

.rate {
    width: 33%;
}

.item-table {
    float:right;
    margin-right: 10%;
    border: 1px solid #000000;
    display: flex;
    
}

.percent-table {
    display: flex;
    width: 33%;
    font-size: 14px;
    font-weight: bold;
}

.rune-table {
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    display: flex;
}



.runetable-left {
    width: 70%;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}

.runetable-right {
    width: 30%;
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    margin-left: 8px; 
    font-size: 14px;
    height: auto;
}

.runetable-1 {
    width: 100%;
    padding: 10px;
    
    border-bottom: 1px solid #cdcdcd ;
    
    font-size: 14px;
    
}


.skill-tree {
    padding : 10px;
    border: 1px solid #797878;
    border-radius: 10px;
    width: 70%;
}

.image-all {
    padding: 1px;
    width: 40px; 
    height: 40px; 
    border-radius: 20%;
  }

.win-rate {
    float: right;
    text-align: center; 
    align-items: center;
    
    margin-top:10px;
}

