html { overflow-y:scroll; }
BODY { margin: 0px; padding: 0px; font-size:9pt; font-family:arial; }
DIV { margin: 0px; padding: 0px; font-size:9pt; font-family:arial; }
SPAN { font-size:9pt; font-family:"Apple SD Gothic Neo", "Malgun Gothic", "ë§‘ì€ ê³ ë”•", arial, sans-serif; }

/*
SELECT { behavior: url('selectbox.htc'); }
OPTION { font-size: 8pt; }
*/
.s_list_name { width:100%; text-align:center; cursor:pointer; border:1px solid #FFF8F0;}
.spec_list_name { cursor:pointer; }
.detail_list_name { cursor:pointer; }
#r_side { position:absolute; top:120px; left:760px; width:120px; }
#rr_side { position:absolute; top:120px; left:910px; width:120px; }
#l_side2 { position:absolute; top:140px; left:-182px; width:160px; text-align:right; }
#l_side2_google { position:absolute; top:240px; left:-182px; width:160px; text-align:right; }
#l_side_dfp { position:absolute; top:265px; left:-182px; width:160px; text-align:right; }
#l_side { position:absolute; top:140px; left:-130px; width:120px; }
#s_list { text-align:center; background:#FFF8F0; width:120px; height:auto; padding:4px; border:1px solid #ECA; }
#ilbe_link { text-align:center; background:#F8FFF0; width:120px; padding:4px; border:1px solid #CEA; margin-top:5px; }
#iapp_link { text-align:center; background:#F8F0FF; width:120px; padding:4px; border:1px solid #CAE; margin-bottom:5px; }
#aapp_link { text-align:center; background:#F8F0FF; width:120px; padding:4px; border:1px solid #CAE; margin-bottom:5px; }
#spec_link { text-align:center; background:#F8F0FF; width:120px; padding:4px; border:1px solid #CAE; margin-bottom:5px; margin-top:5px; }
#s_list_list { text-align:center; width:100%; }

.movie_list ul { width:100%; margin:0px; overflow:hidden; }
.movie_list ul li { width:220px; float:left; margin:2px 0 2px 0; text-align:left; }
.movie_list ul li *{vertical-align:middle;}
.movie_list ul li a{text-decoration:none;}
.movie_list ul li a span{padding-left:10px;width:64px;color:#a0a0a0; float:left; display:block;}
.play_movie { text-align:center; }

.line_alert { width:698px; background-color:#C00; padding:4px; border: 1px solid #500; margin-bottom:5px; color:#EEE; }
.line_notice { width:698px; background-color:#050; padding:4px; border: 1px solid #020; margin-bottom:5px; color:#EEE; }

.mobile_notice {
	font-size:12px;
	text-align:center;
	color: white;
	width:100%;
	background-color:#C44;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #B99), color-stop(0.02, #966), color-stop(1, #C44));
	background-image:-moz-linear-gradient(top, #B99, #966 2%, #C44);
	background-image:-o-linear-gradient(top, #B99, #966 2%, #C44);
	padding:14px 0px 15px 0px;
	margin-top: 3px;
	border-top:1px solid #F44;
}

.table_summary {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 0 10px; /* 테이블 간격 조절 */
	
	
  }

.table-bordered {
	/* 새로운 테이블 스타일 및 위치 설정 */
	width: 980px;
	height: 00px;
	background-color: #fff;
	margin-left: 500px; /* 오른쪽으로의 여백 추가 */
	border: 1px solid silver; /* 2px 두께의 검은색 테두리 추가 */
	
}

.new-table {
	text-align: center;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	font-family: 'omyu_pretty', sans-serif;
	font-size: 20px;
	
	
	
	
}

.main-name {
	font-family: 'omyu_pretty', sans-serif;
	font-size: 24px;
	display: flex;
}

.main-subname {
	font-family: 'omyu_pretty', sans-serif;
	font-size: 24px;
	display: flex;
	margin-left: 12.5%;
	font-weight: bold;
}

.main-subname2 {
	font-family: 'omyu_pretty', sans-serif;
	font-size: 24px;
	display: flex;
	margin-left: 45%;
	font-weight: bold;
}

@font-face {
	font-family: 'omyu_pretty';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

