.table-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5개의 열을 가진 그리드 */
    gap: 5px; /* 셀 간격 설정 */
    border: 1px solid #ccc; /* 테이블 테두리 스타일 */
    padding: 10px; /* 테이블 패딩 설정 */
  }
  
  .table-header {
    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2; /* 헤더 배경색 설정 */
    padding: 5px;
  }

  .table-data {
    font-weight: bold;
    text-align: center;
    padding: 5px;    
  }
  .table-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 5개의 열을 가진 그리드 */
    gap: 5px; /* 셀 간격 설정 */
    border: 1px solid #f5f5f5; /* 테이블 테두리 스타일 */
    padding: 10px; /* 테이블 패딩 설정 */
  }

  .table-row2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5개의 열을 가진 그리드 */
    gap: 5px; /* 셀 간격 설정 */
    border: 1px solid #f5f5f5; /* 테이블 테두리 스타일 */
    padding: 10px; /* 테이블 패딩 설정 */
  }



  .table-container1 {
    display: grid;
    grid-template-columns: repeat(6 , 1fr); /* 6개의 열을 가진 그리드 */
    gap: 5px; /* 셀 간격 설정 */
    border: 1px solid #ccc; /* 테이블 테두리 스타일 */
    padding: 10px; /* 테이블 패딩 설정 */
    position: relative;
  }


  .table-container2 {
    display: grid;
    grid-template-columns: repeat(5 , 1fr); /* 5개의 열을 가진 그리드 */
    gap: 4px; /* 셀 간격 설정 */
    border: 1px solid #ccc; /* 테이블 테두리 스타일 */
    padding: 10px; /* 테이블 패딩 설정 */
    
    
  }

 

  .table-cell {
    text-align: center;
    border: 1px solid #ccc; /* 셀 테두리 스타일 */
    padding: 5px;
  }

  


  .input-table input.form-control {
    width: 150px; /* 원하는 너비로 조정하세요 */
    border: 1px solid #b2adad;
    font-size: 14px;
    
  }

  .custom-button {
    background-color: #380101;
    color: #fff; /* 텍스트 색상을 백그라운드와 대조되게 흰색으로 지정합니다. */
  }

  .custom-button:hover {
    background-color: #380101; /* hover 상태에서도 배경색을 동일하게 유지합니다 */
    color: #fff; /* hover 상태에서도 텍스트 색상을 동일하게 유지합니다 */
  }

  .dropdown button.custom-button {
    margin-top: 12px; /* 원하는 크기로 조절하세요. */
  }
  
  .anal-title {
    margin-left: 8%;
    
    margin-bottom: 3%;
}

@media screen and (max-width: 768px) {
  .anal-title {
    margin-left: 1%;
  }
}