@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.nav.nav-tabs {
    background-color: #c9c62e;
    
  }
  
.nav-item {
  transition: background-color 0.3s ease;
}  

.nav-item:hover {
  background-color: #ffffff;
  color: #000000;
}
  
.nav-link {
    color: #550606;
    font-size: 21px; 
    /* 여기에 네비게이션 링크에 대한 스타일을 추가합니다. */
    /* 예를 들어, 텍스트 크기, 텍스트 스타일 등을 정의할 수 있습니다. */
  }

.nav-item.dropdown:hover .dropdown-menu a.dropdown-item {
  background-color: #380101; /* 원하는 배경색으로 변경하세요 */
  color: white; /* 텍스트 색상 변경 (선택 사항) */
}

.App {
  font-family: 'omyu_pretty', sans-serif;
  
}